.main-chat
  .main-chat__up
    .main-chat__left
      .main-chat__group--name 
      = @group.name
      %ul.main-chat__member 
        %li.main-chat__member--name 
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group) , class: "main-chat__btn" do
      .main-chat__right edit 
  .main-chat__middle
    .messages
      = render @messages
      .main-chat__info
        %p.main-chat__info__talker 
        %p.main-chat__info__date 
      %p.main-chat__info--message 
  .main-chat__buttom 
    .main-chat__form 
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'main-chat__form--message', placeholder: 'type a message'
        .main-chat__mask
          = f.label :image, class: "main-chat__form--label" do
            = icon('far fa-image', class: "main-chat__form--btn")
            .main-chat__field
            = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: "main-chat__button" 